BOT_TOKEN = mHA-NpCrs5p4PLSkDq631_CwsLVY_ULi
CHAT = 404703
BOT_DOMAIN = bot.reddy.team
S3_ACCESS_KEY = VADIMHUBULOV20R4JZGPBS
S3_SECRET_KEY = viMY26Ec8zuiB6tyWbZxKYm5HwikRv5F
BUCKET = reddy
POOLING_TIMEOUT= 3000